<?xml version="1.0" encoding="utf-8"?>
<DockPanel FormatVersion="1.0" DockLeftPortion="279" DockRightPortion="300" DockTopPortion="300" DockBottomPortion="287" ActiveDocumentPane="2" ActivePane="0">
  <Contents Count="16">
    <Content ID="0" PersistString="Byt.WorkSpace.Windows.ProjectManagerWindow" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="1" PersistString="Byt.WorkSpace.Windows.ErrorListWindow" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="2" PersistString="Byt.WorkSpace.Windows.OutputWindow" AutoHidePortion="249" IsHidden="False" IsFloat="False" />
    <Content ID="3" PersistString="Byt.WorkSpace.Windows.DeploymentWindow" AutoHidePortion="220" IsHidden="False" IsFloat="False" />
    <Content ID="4" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\charjsDemoTest\identity.skill.by|1658|0|CrLf|||6" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="5" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\external\JavaScript\chart.js|203431|0|CrLf||24,69,108,153,198,233|54" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="6" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\byExternalCharjs.config|513|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="7" PersistString="Byt.WorkSpace.Windows.DocumentWindow|byExternalCharjs.config|0|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="8" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\charjsDemoTest\identity.by|0|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="9" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\charjsDemoTest\charjsDemoTest.config|0|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="10" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\object.by|785|0|CrLf|||7" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="11" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\object.property.by|0|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="12" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\object.method.by|4195|0|CrLf||11,16,19,23,27|0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="13" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\object.event.by|0|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="14" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\enum.by|0|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
    <Content ID="15" PersistString="Byt.WorkSpace.Windows.DocumentWindow|src\byExternalCharjs\external\JavaScript\echarts.js|0|0|CrLf|||0" AutoHidePortion="300" IsHidden="False" IsFloat="False" />
  </Contents>
  <Panes Count="3">
    <Pane ID="0" DockState="DockLeft" ActiveContent="0">
      <Contents Count="1">
        <Content ID="0" RefID="0" />
      </Contents>
    </Pane>
    <Pane ID="1" DockState="DockBottom" ActiveContent="2">
      <Contents Count="3">
        <Content ID="0" RefID="1" />
        <Content ID="1" RefID="2" />
        <Content ID="2" RefID="3" />
      </Contents>
    </Pane>
    <Pane ID="2" DockState="Document" ActiveContent="6">
      <Contents Count="12">
        <Content ID="0" RefID="4" />
        <Content ID="1" RefID="5" />
        <Content ID="2" RefID="6" />
        <Content ID="3" RefID="7" />
        <Content ID="4" RefID="8" />
        <Content ID="5" RefID="9" />
        <Content ID="6" RefID="10" />
        <Content ID="7" RefID="11" />
        <Content ID="8" RefID="12" />
        <Content ID="9" RefID="13" />
        <Content ID="10" RefID="14" />
        <Content ID="11" RefID="15" />
      </Contents>
    </Pane>
  </Panes>
  <DockWindows>
    <DockWindow ID="0" DockState="Document" ZOrderIndex="1">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="2" PrevPane="-1" Alignment="Right" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
    <DockWindow ID="1" DockState="DockLeft" ZOrderIndex="2">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="0" PrevPane="-1" Alignment="Bottom" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
    <DockWindow ID="2" DockState="DockRight" ZOrderIndex="4">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="3" DockState="DockTop" ZOrderIndex="5">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="4" DockState="DockBottom" ZOrderIndex="3">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="1" PrevPane="-1" Alignment="Right" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
  </DockWindows>
  <FloatWindows Count="0" />
</DockPanel>